body {
  margin: 0 !important;
  padding: 0 !important;
}

mwc-fab {
  margin-right: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.redAndWhite {
  --mdc-theme-secondary: red;
  --mdc-theme-on-secondary: white;
}
.md-fab-bottom-right {
  position: fixed !important;
}

mwc-top-app-bar {
  --mdc-theme-primary: #4e4989;
}

mwc-dialog div {
  flex-direction: column;
}
mwc-dialog div,
mwc-radio {
  display: flex;
}
